.action-btn {
    background-color: $color-primary;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 5px;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s;
    font-family: $font-primary;

    &:hover {
        background-color: white;
        color: $color-primary;
    }
}